
body {
    font-family: 'Roboto', sans-serif;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}


/*NAV*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 30px 480px 30px 480px;
}

.navbar a:link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:visited {
    color: black;
}
/*fin nav*/


/*HEADER*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#banner {
    height: 350px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

#resident_evil {
    width: 600px;
    height: 120px;
    background-image: url(../img/Resident_Evil_4_Logo_Light_Outlined.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 20%;
    left: 30%;
}

header p {
    color: white;
    font-size: xx-large;
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 35%;
}
/*fin header*/


/*SECTIONS*/
section {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*SECTION 1*/
.description {
    padding: 0 260px 20px 260px;
}


/*SECTION 2*/
.container {
    display: flex;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #282725;
    color: white;
    margin: 15px;
}

.img {
    width: 300px;
    height: 180px;
    background-size: cover;
    background-position: center;
}

.new_monsters {
    background-image: url(../img/new-monsters.jpg);
}

.graphics {
    background-image: url(../img/new-graphism.jpg);
}

.improved {
    background-image: url(../img/new-gameplay.jpeg);
}

.text {
    padding: 20px;
}


/*FOOTER*/
footer {
    margin-top: 40px;
}


/*boîte newsletter*/
.newsletter {
    background-color: #292B2C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

form {
    display: flex;
    flex-direction: row;
}

.mailbox {
    width: 260px;
    height: 40px;
    background-color: white;
    border-style: none;
    border-radius: 8px;
    margin-right: 10px;
}


/*boîte legal*/
.legal {
    background-color:#000000;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    /*padding-right: 80px;
    padding-left: 80px;*/
}

/*boîte legal logo*/
.mini_logo {
    width: 70px;
    height: 15px;
    background-image: url(../img/Resident_Evil_4_Logo_Light_Outlined.png);
    background-size: cover;
    background-position: center;
    grid-column-start: 1;
    justify-self: center;
    align-self: center;
}

/*boîte legal links*/

/*
.ftr_links a:link {
    color: white;
    text-decoration: none;
}

.ftr_links a:visited {
    color: white;
}
*/

.ftr_links {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.a {
    grid-column-start: 1;
}

.b {
    grid-column: 2 /3;
}

.c {
    grid-column: 3 / 4;
}

.d {
    grid-column: 4 / 5;
}

.e {
    grid-column: 5 / 6;
}

/*fin footer*/



/*BOUTONS ROUGES*/
.red {
    width: 130px;
    height: 40px;
    background-color: #C0192A;
    border-style: none;
    border-radius: 3px;
    color: white;
    font-size: medium;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:link {
    color: white;
    font-size: medium;
    text-decoration: none;
}

.btn:visited {
    color: white;
    font-size: medium;
    text-decoration: none;
}
